.app {
  padding: 5%;
  width: 100%;
  height: 100%;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #798777;
  border-radius: 15px;
  background-color: #798777;
  overflow: hidden;
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-right: 10px;
  background-color: #798777;
}
.circle {
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.circle:nth-child(1) {
  background-color: #00ca4e;
}
.circle:nth-child(3) {
  background-color: #ff605c;
}
.circle:nth-child(2) {
  background-color: #ffbd44;
}
.contents {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contents::-webkit-scrollbar {
  display: none;
}
.pages {
  position: relative;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.scrollIndicationBox {
  width: 100%;
  height: 0vmin;
  position: sticky;
  left: 0;
  bottom: 0;
  overflow: visible;
}
.scrollIndication {
  width: 100%;
  height: 15vmin;
  position: absolute;
  top: -15vmin;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-bottom: 20px;
}
.downIcon {
  font-size: 4vmin;
  color: #9b9b9b;
  opacity: 0.5;
  animation: bounce-down 0.8s infinite linear;
}
@keyframes bounce-down {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: -10px;
  }
  100% {
    margin-bottom: 0;
  }
}
.scrollTopButton {
  width: 5vmin;
  height: 5vmin;
  position: absolute;
  bottom: 5vmin;
  right: 5vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #bdd2b6;
  box-shadow: 1px 6px 15px -2px rgba(189, 210, 182, 0.7);
  cursor: pointer;
}
.topIcon {
  line-height: 5vmin;
  font-size: 3vmin;
  color: white;
  animation: bounce-up 0.8s infinite linear;
}
@keyframes bounce-up {
  0% {
    margin-bottom: 0;
  }
  50% {
    margin-bottom: 5px;
  }
  100% {
    margin-bottom: 0;
  }
}
